@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Sigmar+One);
@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Bangers);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	padding-top: 80px;
	background-color: #EDE5DD;
	background-color: #efefef;
	background-color:#E8EBEA;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {
	font-weight: bold;
}

blockquote {
	width:70%;
	font-style: italic;
	font-size: 80%;
	text-align: justify;
	margin: 0 auto 0 auto;
	line-height: 90%;
}

a {
	color:#4B5E80;
}

p.back {
	text-transform: uppercase;
	font-size: 100%;
	font-family: 'Open Sans';
	margin-top: 4em;
	text-align: center;
}

p.back i {
	margin-right: 1em;
}

p.colophon {
	text-align: center;
	margin-top:1em;
	font-size: 120%;
}


.center {
text-align: center;
}

.right {
	float:right;
	text-align: right;
	margin-right:2em;
	display: block;
	margin-bottom:2em;
}

header {

    background-color: #dddddd;
    background-color: #BF9C8C;
    background-color: #4B5E80;
    height: 40px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    border-bottom:2px solid #444;
    opacity: .95;
}

.nav-up {
    top: -43px;
}


.menu {
	height:40px;
	font-family: 'Open Sans', serif;
	text-transform: uppercase;
	font-size: 14px;
	text-align:center;
	padding-top:1em;
}

.menu ul li {
display:inline;
padding:1em 2em 0 2em;
}

.menu ul li a {
text-decoration: none;
color: #EFEBE6;
}


.home_header, .header-logistics {
font-size: 52pt;
text-align: center;
background-color: #6C859A;
color: #EFEBE6;
padding:.5em 0 .5em 0;
margin-top:-40px;
}

h1.one {
font-size: 96pt;
font-family: 'Bangers', cursive;
letter-spacing: .08em;
}

h1.two {
font-size: 14pt;
font-family: 'Open Sans', cursive;
}

h1.three {
	font-size: 96pt;
	font-family: 'Audiowide', cursive; 
}


.home_container {
	margin:0 auto 0 auto;
	font-size: 16pt;
}

.top  {
}

.middle {
background-color: #C6A8BB;
font-size:160%;
border-top: 3px solid gray;	
border-bottom: 3px solid gray;	
}


.bottom {
bbackground-color: #D8E5D6;
margin-bottom:2em;
}



.home_container p {
	line-height: 1.6em;
	font-family: 'Open Sans', serif;
	margin: 1em 0em 1em 0em;
	text-align: justify;
	width:35em;
	margin:0em auto 0em auto;
	padding: 1em 0 1em 0;
}

.container {
width:1000px;
margin:0 auto 0 auto;
}

.container p {
	font-size: 16pt;
	line-height: 1.4em;
	font-family: 'Open Sans', serif;
	margin: 1em 2em 1em 0em;
}


.essays h2{
line-height: 3em;
color: white;
}

/************************************/
/************  ESSAY INDEX  **************/
/************************************/

.essays {
	margin: 0 auto 0 auto;
	width:800px;
}

.author_heading {
	font-family: 'Audiowide', cursive; 
	font-size: 20pt;
	text-transform: uppercase;
	padding: .5em .5em .1em 0em;
	border-bottom: 5px solid #ADC0C7;
	text-align: left;
	color:#8E6A78;
}

.author_heading div, .theme_heading div {
}

.essay_blk_container {
	color: #333333;
	padding:0em;
	margin: 1em auto 4em 0;
	clear:both;
	width:800px;
	border:1px dotted gray;
	min-height: 300px;
	background: #E8EBEA;
	background: #EFEBE6;
}

.essay_blk_container a {
	text-decoration: none;
	color:#000;
}

.essay_blk_container a:hover {
	text-decoration: none;
	color:#fff;
}

.essay_blk_container h2 {
	font-size: 22pt;
	line-height: 1.5em;
	font-family: 'Oswald', serif;
	margin: .2em 2em .2em 0em;
}


.essay_blk_container h3 {
	font-size: 14pt;
	line-height: 1.5em;
	font-family: 'Oswald', serif;
	margin: 0em 2em .5em 0em;
}

.essay_blk_container h4 {
font-family: 'Gentium Book Basic', serif;
font-size: 12pt;
margin: 1em 2em .5em 0em;
}

.essay_blk_container img {
	width:250px;
	height:250px;
	margin:12px 18px 12px 12px;
	float:left;
}

.essay_blk_text {
	font-size: 12pt;
	line-height: 1.4em;
	font-family: 'Open Sans', serif;
	margin: 1em 6em 1em 1em;
	text-align: justify;
}


/************************************/
/************  ESSAY PAGES  **************/
/************************************/

em {
	font-style: italic;
}

.essay_container {
font-family: 'Merriweather', serif;
color: #1e1916;
font-size: 15pt;
margin: 2em auto 2em auto;
width:40em;
}

.essay_container p {
margin-bottom:1.5em;
line-height: 1.8em;
color: #333;	
}


.essay_container h1 {
font-family: 'Oswald', serif;
font-size: 42pt;
text-align: center;
margin-bottom: .3em;	
}


.essay_container h2 {
font-family: 'Open Sans', serif;
font-size: 18pt;
text-align: center;
}


.essay_container h3 {
font-family: 'Gentium Book Basic', serif;
font-size: 18pt;
text-align: center;	
margin-bottom: 3em;
margin-top: 1.5em;
text-transform: uppercase;
}


.essay_container img {
	display: block;
	margin: 1em auto .5em auto;
	text-align: center;
	max-width: 800px;
}

.essay_container sup {
color:#6f653c;
font-weight: 80%;
font-size: 75%;
vertical-align: super;
}

.essay_container figcaption, .essay_container p.caption {
	font-size: 85%;
	color: #888;
	line-height: 1.2em;
	font-family: 'Open Sans';
	margin: 0em 0 3em 0;
	padding-left:1.5em;
	padding-right: .5em; 
}

.essay_container figure p {
	margin:0;
}

.bigfoot-footnote__content {
	font-size:70%;
}

.footnoteRef {
	text-decoration: none;
}

.footnotes {
	font-size: 12pt;
}

.footnotes p {
	width:100%;
}

.footnotes ol {
	font-size: 90%;
	list-style-type: decimal;
}


/************************************/
/************  THEMES  **************/
/************************************/

.themes p {
	margin-bottom:2em;
}

.themes h1{
	font-family: 'Audiowide', cursive; 
	font-size: 30pt;
	padding:0 0 .2em 0;
	border-bottom: 2px dashed gray;
	color:#333;
	margin-top:1em;

}

.themes h2 {
font-size: 14pt;
line-height: 1.4em;
font-family: 'Open Sans', cursive;
text-transform: uppercase; 
}


.themes .essay_blk_container {
width:23%;
float:left;
clear:none;
margin-right:.5em;
min-height: 500px;
}


.themes .essay_blk_container h2 {
font-family: 'Oswald';
text-transform: none;
font-size: 100%;
padding-left:.5em;
margin-bottom: .4em;
}

.themes .essay_blk_container h3 {
font-size: 80%;	
font-family: 'Open Sans';
padding-left:.5em;
line-height: 1.2em;
}


.themes .essay_blk_container h4 {
text-align: right;
font-size: 85%;	
font-family: 'Open Sans';
padding-left:.5em;
margin: -1.5em .2em .2em 0;
font-style: italic;
color:#8E6A78;

}

.themes img.essay_blk_image {
	width:100%;
	height:200px;
	margin:0;
	padding:0 0 .5em 0;
}

.themes .essay_blk_text {
font-size: 11pt;
line-height: 1.4em;
font-family: 'Open Sans', serif;
margin: 1em .2em 1em .5em;
text-align: left;
}


/************************************/
/************  PEOPLE  **************/
/************************************/

.people {
	font-family: 'Open Sans', serif;
}

.people a{
	color:#666;
}

.people .fa {
	margin-top:1em;
}

.people h1{
font-size: 32pt;
margin-right:.5em;
display: inline-block;
font-family: 'audiowide';
margin-bottom: .2em;
color:#8E6A78;
}

.people h2{
font-size: 13pt;
color:#666;
line-height: 1.5em;
}

.people img {
	width: 250px;
	float:left;
	margin-right: 1em;
	max-height: 600px;
}

.person-block {
width:1000px;
margin-top: 1em;
clear: both;
float:left;
padding: 2em 0 3em 0;
border-bottom: 3px solid gray;
}


/************************************/
/************  LOGISTICS  **************/
/************************************/

.date {
	font-family: 'Audiowide', cursive;
	font-size: 38pt;
	text-transform: uppercase;
	padding: .5em 0 .1em 0;
	color:#8E6A78;
	margin-top: 1em;
	border-bottom:3px solid gray;
}

.session {
	border-left:2px dashed #4E6656;
	margin-left:3em;
	padding-top:1.5em;
}

.timeslot {
	border-left:1px dotted gray;
	margin-left:2em;
}

.logistics {
font-family: 'Open Sans', serif;
width:800px;
}

.logistics h1{
	font-family: 'Oswald', cursive; 
	font-size: 30pt;
	padding:.2em;
	border-bottom: 2px dashed gray;
	color:#333;
	margin-top:1em;

}

.logistics h1.chair{
	font-family: 'Oswald', cursive; 
	font-size: 12pt;
	padding:.3em;
	color:#333;
	text-align: right;
	margin-top:-2em;
	border:none;
}

.logistics h2{
	font-size: 24pt;
	font-family: 'Oswald', cursive; 
	padding:1em 0 .3em 1.3em;
	border-bottom: 1px dotted gray;
	color:#555;

}

.logistics h3{
	font-size: 15pt;
	padding: 1em 0 1em 14px;
	text-transform: uppercase;
	border-bottom: 1px dotted gray;
	color:#555;
	background: #EFEBE6;
}

.logistics h4{
	font-size: 15pt;
	padding: 1em 0 0em 14px;
	line-height: 1.2em;
	font-style: italic;
	background: #EFEBE6;
}
